
.dock-manager {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 1px;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: green;
}

.dock-hsplit-left {
  float: left;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
  background-color: #7FFFFF;
}

.dock-hsplit-right {
  height: 100%;
  vertical-align: top;
  overflow: hidden;
  background-color: #FF7FFF;
}

.dock-hsplit-handle {
  float: left;
  vertical-align: top;
  height: 100%;
  width: 8px;
  background-color: blanchedalmond;
}

.dock-hsplit-container {
  height: 100%;
  width: 100%;
  background-color: blue;
  overflow: hidden;
}

.dock-container {
  width: 100%;
  height: 100%;
}


.dock-vsplit-top {
  width: 100%;
  overflow: hidden;
  background-color: #FF7F7F;
}

.dock-vsplit-bottom {
  height: 100%;
  vertical-align: top;
  overflow: hidden;
  background-color: #FF7F00;
}

.dock-vsplit-handle {
  vertical-align: top;
  width: 100%;
  height: 8px;
  background-color: blanchedalmond;
}

.dock-vsplit-container {
  height: 100%;
  width: 100%;
  background-color: blue;
  overflow: hidden;
}
